@import url(root.css);
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/*navbar*/
.nav{
    width: 100%;
    padding: 20px;
    position: fixed;
    text-align: center;
    background-color: #282822;
}
.nav a {
    padding: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.nav a:hover{
    transition: 0.5s ease;
    background-color: #383838;
}
/*header*/
.header{
    padding: 10rem 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header-wrapper{
    display: flex;
    justify-content: left;
}
.header-wrapper img{
    width: 250px;
    height: 250px;
    border-radius: 1000%;
}
.header-text{
    padding-left: 5rem;
}
.header-text h1{
    font-size: 3rem;
    font-weight: 100;
}
.header-text p{
    color: #888;
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.header-text p strong{
    color: #000;
}
.header-text button{
    border: none;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    padding: 1.7rem 6rem;
    background-color: var(--button);
    text-shadow: 2px 4px 3px #000000;
}
.header-text button:hover{
    cursor: pointer;
    background-color:  rgb(63, 164, 204);
}
/*header responsive.........................*/
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .header{
        padding: 4rem 0;
        box-shadow: none;
    }
    .header-wrapper{
        margin: 1rem;
        display: block;
    }
    .header-img-wrapper{
        text-align: center;
    }
    .header-text{
        padding: 0;
    }
    .header-text h1{
        text-align: center;
    }
}
@media only screen and (max-width: 1200px) {
    .container{
        width: 100%;
    }
    .header{
        padding: 6rem 0 ;
        box-shadow: none;
    }
    .header-wrapper{
        margin: 1rem;
        display: block;
    }
    .header-img-wrapper{
        text-align: center;
    }
    .header-text{
        padding: 0;
    }
    .header-text h1{
        text-align: center;
    }
    .header-text p{
        font-size: 1.5rem;
        text-align: center;
    }
    .main-button{
        display: block;
        margin: 0 auto;
    }
}
/*end......................
*/
/*header 2*/
.header2{
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header2 .container .text{
    padding-top: 5rem;
    text-align: center;
}
.header2 .container .text h1{
    font-weight: bolder;
    font-size: xx-large;
}
.header2 .container .text p{
    color: #888;
    font-size: x-large;
}
.header2 .container .text-father{
    display: flex;
    padding: 3rem 0;
    padding-bottom: 4rem;
    justify-content: space-between;
}
.header2 .container .text-icons1{
    width: 350px;
    height: 320px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header2 .container .text-icons1 p{
    color: #888;
    padding: 0 2rem;
    line-height: 1.5rem;
}
.header2 .container .text-icons2{
    width: 350px;
    height: 320px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header2 .container .text-icons2 p{
    color: #888;
    padding: 0 2rem;
    line-height: 1.5rem;
}
.header2 .container .text-icons3{
    width: 350px;
    height: 320px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header2 .container .text-icons3 p{
    color: #888;
    padding: 0 2rem;
    line-height: 1.5rem;
}
.comments{
    font-size: 6rem;
    color: #ea8a95;
}
.icons-wrapper{
    padding: 1rem 0;
}
.camera{
    font-size: 5rem;
    color: #ea8a95;
    padding-top: 1rem ;
}
.like{
    font-size: 5rem;
    color: #ea8a95;
    padding-top: 1rem ;
}
span{
    display: flex;
    color: #888;
    font-size: x-large;
    padding-top: 2rem 0;
    padding-bottom: 4rem;
    justify-content: center;
}
.header2 .container .button2{
    border: none;
    color: #fff;
    margin-top: 2rem;
    margin-left: 31%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 6rem;
    padding: 1.7rem 6rem;
    justify-content: center;
    background-color: var(--button);
    text-shadow: 2px 4px 3px #000000;   
}
.header2 .container .button2:hover{
    cursor: pointer;
    background-color:  rgb(63, 164, 204);
}
@media only screen and (max-width: 1200px) {
    .header2 .container .text-father{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .header2 .container .button2 {
    display: block;
    margin: 0 auto;
    }
}
@media only screen and (max-width: 600px) {
    .header2 .container .text-father{
    display: block;
    padding: 01rem 0;
    text-align: -webkit-center;
    }
    span{
    display: flex;
    color: #888;
    font-size: large;
    padding-top: 2rem 0;
    padding-bottom: 2rem;
    justify-content: center;
    }
    .header2 .container .button2 {
    border: none;
    color: #fff;
    margin-left: 13%;
    margin-top: 0rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1.7rem 3rem;
    justify-content: center;
    background-color: var(--button);
    text-shadow: 2px 4px 3px #000000;
    }
}
/*header3 part1*/
.header3 .container .text2{
    text-align: center;
    margin-bottom: 2rem;
}
.header3 .container .text2 h1{
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 4rem;
}
.header3 .container .text2 p{
    color: #888;
    font-size: x-large;
}
.header3 .container .text-father2{
    padding: 0rem 1rem;
    display: flex;
    margin-right: 0rem;
    justify-content: space-evenly;
}
.header3 .container .text-father2 .a{
    color: #000;
    text-decoration: none;
}
.header3 .container .text-father2 .a:hover{
    color: rgb(40, 180, 222);
    transition: 0.5s ease;
}
.header3 .container .div1{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: white;
    
}
.header3 .container .div1{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header3 .container .div1{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header3 .container .text-father2 .div1 img:hover{
    cursor: pointer;
}
.header3 .container .text-father2 h2{
    display: flex;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.header3 .container .text-father2 p{
    color: #888;
    line-height: 1.7;
}
/*header3 part2*/
.header3 .container .text-father3{
    margin-top: 1rem;
    display: flex;
    margin-right: 0rem;
    padding: 0rem 1rem ;
    justify-content: space-evenly;
}
.header3 .container .text-father3 .a{
    color: #000;
    text-decoration: none;
}
.header3 .container .text-father3 .a:hover{
    color: rgb(40, 180, 222);
    transition: 0.5s ease;
}
.header3 .container .div2{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    background-color: white;
}
.header3 .container .div2{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header3 .container .div2{
    width: 320px;
    height: 340px;
    padding-top: 0rem;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #e4e4e4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.header3 .container .text-father3 .div2 img:hover{
    cursor: pointer;
}
.header3 .container .text-father3 h2{
    display: flex;
    margin-top: 1rem;
    padding-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.header3 .container .text-father3 p{
    color: #888;
    line-height: 1.7;
}
.header3 .container .lest{
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
    margin-top: -1rem;
}
.header3 .container .button3{
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 4rem;
    padding: 1.7rem 6rem;
    justify-content: center;
    background-color: var(--button);
    text-shadow: 2px 4px 3px #000000;   
}
.header3 .container .button3:hover{
    cursor: pointer;
    background-color:  rgb(63, 164, 204);
}
.header3 .container .div-fotter{
    text-align: center;
}
@media only screen and (max-width: 1200px){
    .header3 .container .text-father2{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .header3 .container .text-father3{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}
/*footer*/
.footer{
    background-color: #303030;
}
.footer-title{
    padding: 3rem 0;
    text-align: center;
}
.footer-title h2{
    margin: 0;
    color: #fff;
    padding: 1rem 0;
}
.footer-title p{
    color: #888;
    margin-bottom: 0rem;
}
.footer-form{
    width: 600px;
    margin: 0 auto;
}
.input-wrapper{
    display: flex;
    padding: 1rem 0;
    padding-top: 0rem;
    justify-content: space-between;
}
.footer-input-subject{
    width: 100%;
    margin-right: 3.5rem;
}
input[type="text"]{
    border: none;
    color: #bbb;
    padding: 1.2rem;
    border-radius: 43px;
    background-color: #282828;
}
.input2-wrapper{
    margin-right: -2.5rem;
}
.text-area{
    border: none;
    color: #bbb;
    padding: 1.1rem;
    margin-top: 1rem;
    border-radius: 7px;
    background-color: #282828;
}
.footer-buttons-wrapper{
    text-align: center;
}
.footer-button-1{
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight:bold;
    border-radius: 10px;
    margin-bottom: 6rem;
    padding: 1rem;
    justify-content: center;
    background-color: var(--button);
    text-shadow: -1px -1px 0.5px rgb(0  0 0 / 50%); 
    box-shadow: inset 0px 0px 0px 1px rgb(0  0 0 / 50%),
    inset 0px 2px 1px 0px rgb(255 255 255 / 75%);
}
.footer-button-1:hover{
    cursor: pointer;
    background-color:  rgb(63, 164, 204);
}
.footer-button-2{
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight:bold;
    border-radius: 10px;
    margin-bottom: 6rem;
    padding: 1rem;
    justify-content: center;
    background-color: #444;
    text-shadow: -1px -1px 0.5px #00000080; 
    box-shadow: inset 0px 0px 0px 1px rgb(0  0 0 / 50%),
    inset 0px 2px 1px 0px rgb(255 255 255 / 75%);
}
.footer-button-2:hover{
    cursor: pointer;
    background-color: #4f4f4f;
}
.footer-find-me{
    color: #fff;
    text-align: center;
}
hr{
    border: 0;
    height: 1px;
    margin: 3em 0;
    border-top: solid 1px #444;
    border-top-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 0px 0px rgb(255 255 255 /10%);
}
.social{
    display: flex;
    justify-content: space-evenly;
}
.iconato{
    margin-right: 0rem;
    background-color: #303030;
    text-shadow: -1px -1px 0px #181818 ;
}
.brand{
    position: relative;
    top: 0;
    font-size: 2rem;
    color:#282828;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-shadow: inset 0px 0px 0px 1px #282828,
    inset 0px 2px 1px 0px rgb(255 255 255 /10%);
    transition: top .2s ease-in-out;
}
.fa-facebook:hover{
    transition: top 0.5s ease-in-out;
    top: -7px;
    background-color: rgb(40, 180, 222);
}
.fa-instagram:hover{
    background-color:#3c5a98 ;
    top: -7px;
    transition: top 0.5s ease-in-out;
}
.fa-linkedin:hover{
    background-color: aqua;
    top: -7px;
    transition: top 0.5s ease-in-out;
}
.fa-twitter:hover{
    background-color: rgb(0, 98, 255);
    top: -7px;
    transition: top 0.5s ease-in-out;
}
.fa-dribbble:hover{
    background-color: rgb(108, 18, 244);
    top: -7px;
    transition: top 0.5s ease-in-out;
}
.fa-github:hover{
    background-color: rgb(128, 0, 255);
    top: -7px;
    transition: top 0.5s ease-in-out;
}
@media only screen and (max-width: 1200px) {
    .footer-form{
        width: 597px;
    }
    .input-wrapper{
        width: 424px;
    }
    .input2-wrapper{
        width: 20px;
        margin-right: 0px;
    }
    .footer-input{
        width: 158px;
    }
    .footer-input-subject{
        width: 559px;
        margin-right: 0px;
    }
    .text-area{
        width: 562px;
    }
}
@media only screen and (max-width: 600px) {
    .footer-form{
        width: 407px;
        margin-right: 16px;
        margin-left: 38px;
    }
    .input2-wrapper{
        width: 190px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer-input2{
        width: 170px;
        padding-right: 0px;
    }
    .text-area{
        width: 390px;
        padding: 17.600px;
        height: 265.188px;
    }
    .footer-input{
        margin-right: 0rem;
        padding-right: 0px;
    }
    .input1-wrapper{
        width: 170px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .footer-input-subject{
        width: 388px;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 19.200;
    }
}
/*footer bottom*/
.footer-bottom{
    display: flex;
    padding: 2rem 0;
    justify-content: center;
}
.footer-bottom-1{
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
    border-left: solid 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0px 0px 0px rgb(255 255 255 / 10%);
}

.footer-bottom div,
.footer-bottom a{
    color: #666;
    text-shadow: -1px -1px 0px #181818;
}
.footer-bottom a:hover{
    color: #53bff0;
    transition: 0.3s ease;
}
@media only screen and (max-width: 600px) {
    .footer-bottom2{
        width: 160.422;
        padding-left: 35px;
    }
}